<launch>
	<arg name="joy_config" 			default="ps4" />
	<arg name="config_filepath" 	default="$(find sass_psx)/config/$(arg joy_config).config.yaml" />
	<arg name="joy_dev" 			default="/dev/input/js0" />
	<arg name="deadzone" 			default="0.3" />
	<arg name="autorepeat_rate" 	default="20" />
	<arg name="joy_topic" 			default="joy" />
	<arg name="use_enable_key" 		default="true" />

  	<!-- JOY ROS NODE -->
	<include file="$(find sass_psx)/launch/ps4.launch">
    	<arg name="joy_dev"				value="$(arg joy_dev)"/>
    	<arg name="deadzone" 			value="$(arg deadzone)"/>
    	<arg name="autorepeat_rate" 	value="$(arg autorepeat_rate)"/>
    	<arg name="joy_topic"			value="$(arg joy_topic)"/>
 	</include>

	<node pkg="sass_psx" type="psx_manual_node" name="psx_manual_node" respawn="true" output="screen">
		<rosparam 	command="load" 			file="$(arg config_filepath)" />
		<param 		name="use_enable_key" 	value="$(arg use_enable_key)" />
		<remap 		from="joy" 				to="$(arg joy_topic)" />
 	</node>

</launch>